<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Poll</title>
    <link rel="stylesheet" href="../../static/polls/poll_style.css">
    <link rel="stylesheet" href="../../static/polls/poll_style_mobile.css">
    <link rel="stylesheet" href="../../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="green_stripe">
            <h3><a href="https://random.dog/">Log out</a></h3>
        </div>
        <div class="white_stripe">
            <h1 class="survey_number">Survey #01</h1>
            <img src="http://placecorgi.com/260/180" alt="Corgi">
        </div>
    </header>
    <div class="poll_title">
        <h1 class="poll_name">Thank you for your answer!</h1>
        <p class="poll_subtitle">Now go botat'!</p>
    </div>
</body>
</html>