<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Analytics</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'analytics/analytics_styles.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <header>
        <div class="green_stripe">
            <h3><a href="{% url 'polls:personal_page' user.id %}">My account</a></h3>
            <h3 class="page_title">Analytics</h3>
            <h3><a href="{% url 'polls:login_staff' %}" class="logout_link">Log out</a></h3>
        </div>
    </header>
    <div id="app">
        <canvas id="chart"></canvas>
    </div>
    <script src="{% static 'analytics/analytics_script.js' %}"></script>
</body>
</html>