<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="icon" href="../../static/polls/images/inno_logo.png">
    <link rel="stylesheet" href="../../static/login/login_styles.css">
    <link rel="stylesheet" href="../../static/style.css">
    <link rel="stylesheet" href="../../static/login/login_styles_mobile.css">
</head>
<body>
    <header>
        <h1 id="access_header_text">University Staff Access</h1>
    </header>
    <div id="inp_box">
        <input type="text" placeholder="username" id="username">
        <input type="password" placeholder="password" id="password">
        <button type="submit">Login</button>
        <a href="student_login.html" id="switch">I'm a student</a>
    </div>
</body>
</html>