<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Poll</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'polls/poll_style.css' %}">
    <link rel="stylesheet" href="{% static 'polls/poll_style_mobile.css' %}">
    <link rel="icon" href="{% static 'polls/images/inno_logo.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="green_stripe">
        </div>
    </header>
    <div class="poll_title">
        <h1 class="poll_name">Students cannot login as Staff members</h1>
        <p class="poll_subtitle">Now go botat'!</p>
    </div>
</body>
</html>