<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <title>Courses</title>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="{% static 'courses_list/courses_list_styles.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>

    <header>
        <div class="green_stripe">
            <h3><a href="{% url 'polls:personal_page' user.id %}">My account</a></h3>
            <h3 class="page_title">Courses</h3>
            <h3><a href="{% url 'polls:login_staff' %}" class="logout_link">Log out</a></h3>
        </div>
    </header>

<!--
    <header>
      <div class="green_stripe">
        <h3>Log out</h3>
      </div>
      <div class="white_stripe">
        <h3>My account</h3>
        <h3>Surveys</h3>
      </div>
    </header>
-->
    <div class="main_body" id="app">
      <div class="search_field">
        <form>
          <div id="first_row">
            <input type="search" id="search" v-model="filter_query"/>
            <input type="button" value="Reset" @click="reset_filter"/>
          </div>
<!--          <div id="second_row">-->
<!--            <select name="semester" size="1" id="semester" class="parameter" v-model="selected_semester">-->
<!--              <option selected>Semester</option>-->
<!--              <option :value="semester.value" v-for="semester in semesters">{{semester.name}}</option>-->
<!--            </select>-->
<!--            <select name="profile" size="1" id="profile" class="parameter" v-model="selected_profile">-->
<!--              <option selected>Profile</option>-->
<!--              <option :value="profile.value" v-for="profile in profiles">{{profile.name}}</option>-->
<!--            </select>-->
<!--            <select name="degree" size="1" id="degree" class="parameter" v-model="selected_degree">-->
<!--              <option selected>Degree</option>-->
<!--              <option :value="deg.value" v-for="deg in degrees">{{deg.name}}</option>-->
<!--            </select>-->
<!--          </div>-->
        </form>
      </div>
      <div class="list_wrapper">
        <course_info v-for="cd in filtered_course_descriptions" :course_name=cd.NAME ></course_info>
      </div>
    </div>
    <script src="{% static 'courses_list/courses_list_script.js' %}" type="text/javascript"></script>
  </body>
</html>
