body {
    display: flex;
    flex-direction: column;
}
#app {
    width: 70%;
    align-self: center;
    height: 90%;
    margin-bottom: 100px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 80px;
}

.canvas_wrapper h1 {
    margin-bottom: 40px;
}
