.main_body {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search_field {
    height: 70px;
    width: 70%;
    max-width: 95%;
    padding: 20px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    justify-content: space-between;

}
#first_row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.list_wrapper {
    margin-top: 50px;
    width: 70%
}
.search_field #search {
    padding: 10px 20px;
    height: 30px;
    width: 80%;
    background-color: #d6d6d6;
    border: 1px solid #5E695F;
}

.search_field .parameter {
    height: 30px;
    width: 160px;
    padding: 0px 10px;
    background-color: #D6D6D6;
    border: 1px solid #5E695F;
}

.survey_info {
    display: grid;
    grid-template-columns: 3fr 1fr;
    flex-direction: column;
    align-items: flex-start;
    color: #9C27B0;
    margin: 10px;
}

.survey_info h2{
    cursor: pointer;
}

.survey_info p{
    cursor: pointer;
}

.survey_info a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 75%;
    width: 100%;
    text-decoration: none;
}

.survey_info a button{
    font-size: 17px;
    height: 100%;
}

input[type="button"]{
    height: 30px;
    width: 90px;
    background-color: #4EA952;
    border: 1px solid #5E695F;
    cursor: pointer;
    color: white;
    font-size: 15px;
}

.date_semester_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 20%;
}