.main_body {
    padding: 50px;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
}

.search_field {
    height: 180px;
    width: 830px;
    max-width: 95%;
    padding: 20px 50px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
}

.search_field #first_row {
    display: flex;
    flex-direction: row;
    margin: 10px;
    width: 100%;
}

.search_field #search {
    padding: 0px 10px;
    margin: 0px 10px;
    height: 30px;
    width: 80%;
    background-color: #d6d6d6;
    border: 1px solid #5E695F;
}

.search_field #submit {
    height: 30px;
    width: 90px;
    background-color: #4EA952;
    border: 1px solid #5E695F;
}


.search_field #second_row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    width: 100%;
}

.search_field .parameter {
    height: 30px;
    width: 160px;
    padding: 0px 10px;
    background-color: #D6D6D6;
    border: 1px solid #5E695F;
}

.survey_info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #9C27B0;
    margin: 30px;
}